<div ng-controller="loginController as ctrl">
	 <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <!--    <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>  -->
    </nav>
    
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>CMAD Blog</h1>
                        <hr class="small">
                        <span class="subheading">Discover, Create And Connect.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="wrapper">
    <form class="form-signin" id="login">       
      <h2 class="form-signin-heading">Welcome to CMAD Blog.</h2>
      <input type="email" class="form-control" name="email" placeholder="Email Address" required="true" placeholder="Enter a valid email address" autofocus="true"  ng-model="user.username"/>
      <input type="password" class="form-control" name="password" placeholder="Password" required="true" ng-minlength="6" ng-model="user.password"/>
      
     <!--  <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>   -->
      <button class="btn btn-md btn-primary btn-block btn-success" type="submit" class="btn " id="login" ng-click = "login(user)">Login</button>
		<a href="#register">   First time user ? click here</a>
    </form>
  	</div>
  	 <div ng-show = "error" style="color: red" align="center">
    	Login credentials are not correct. Please retry with proper credentials.
    </div>
     <div ng-show = "Logging" style="color:green" align="center">
    	logging now....... 
    </div>
     <div ng-show = "success" style="color:green" align="center">
    	Login success !!!...
    </div>
      <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; cmadblog.com 2016</p>
                </div>
            </div>
        </div>
    </footer>
</div>