  
  <div ng-controller='registerController'>
     <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
       <!--   <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#login">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#blogList">Blog list</a>
                    </li> 
                    <li>
                        <a href="#contact">Contact</a>
                    </li>		
                </ul>
            </div>
        </div>  -->
    </nav>	
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>CMAD Blog</h1>
                        <hr class="small">
                        <span class="subheading">Discover, Create And Connect.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="modal-dialog">
        		<div class="modal-content">        			
        			<div class="modal-header">
        				<h3 class="modal-title" id="modal-register-label">Join blog word now.</h3>
        				<p>Fill in details to start blog :</p>
        			</div>
        			
        			<div class="modal-body">
        				
	                    <form role="form" id="ajaxform"  class="registration-form"  ng-submit='register()'>
	                    	<div class="form-group">
	                    		<label class="sr-only" for="form-first-name">First name</label>
	                        	<input type="text" name="firstName" placeholder="First name..." class="form-first-name form-control" id="form-first-name" required="true" autofocus="true" ng-model="newuser.firstName">
	                        </div>
	                        <div class="form-group">
	                        	<label class="sr-only" for="form-last-name">Last name</label>
	                        	<input type="text" name="lastName" placeholder="Last name..." class="form-last-name form-control" id="form-last-name" required="true" ng-model="newuser.lastName">
	                        </div>
	                        <div class="form-group">
	                        	<label class="sr-only" for="form-email">Email</label>
	                        	<input type="email" name="email" placeholder="Email..." class="form-email form-control" id="form-email" required="true" ng-model="newuser.email">
	                        </div>
							<div class="form-group">
	                        	<label class="sr-only" for="form-password">Password</label>
	                        	<input type="password" name="password" placeholder="Password..." class="form-email form-control" id="form-password" ng-minlength="6" required="true" ng-model="newuser.password">
	                        </div>	                        
	                      <!--   <div class="form-group">
	                        	<label class="sr-only" for="form-about-yourself">About yourself</label>
	                        	<textarea name="form-about-yourself" placeholder="About yourself..." 
	                        		class="form-about-yourself form-control" id="form-about-yourself"></textarea>
	                        </div>   -->
	                        <button type="submit" class="btn btn-success" id="register" >Sign me up!</button>
	                    </form>
	                    
        			</div>
        			 <div ng-show = "error" style="color: red" align="center">
    					Sign up is failed due to unknown error. Please retry.... 
    				 </div>
    				 <div ng-show = "singning" style="color:green" align="center">
    					Signing up now....... 
    				</div>
        		</div>
        	</div>
          <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; cmadblog.com 2016</p>
                </div>
            </div>
        </div>
    </footer>
  </div>
<!-- </html>    -->
